{{define "days_books"}}
{{range .Days}}
<div id="books">
  <div class="title">{{printf "%d月%d日発売" .Date.Month .Date.Day}}</div>
  {{range $pkey, $tbooks := .PublisherBooks}}
    {{range $tkey, $tbook := $tbooks}}
    <div class="book">
      <a href="{{$tbook.Url}}">
        <div class="thumbnail-container">
          {{if $tbook.ImageURL}}
            <img class="thumbnail rounded" src="{{$tbook.ImageURL}}">
          {{else}}
            <div class="thumbnail thumbnail-text">{{$tbook.Name}}</div>
          {{end}}
        </div>
        <div class="book-title">{{$tbook.Name}}</div>
      </a>
      <div>
        {{range $tbook}}
          {{$type := .ShortPublishTile}}
          {{if eq $type "Kindle"}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-warning">{{$type}}</span></a>
          {{else if eq $type "コミック"}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-info">{{$type}}</span></a>
          {{else}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-default">{{$type}}</span></a>
          {{end}}
        {{end}}
       </div>
    </div>
    {{end}}
  {{end}}
  <div class="claer-both" />
</div>
{{end}}
{{end}}
