{{define "title"}}新刊コーナー{{end}}

{{define "style"}}
<style type="text/css">
<!--
  #books {
  }
  #books .date {
     margin: 16px 0;
    font-size: 20px;
    font-weight: bold;
  }
  #books .book {
    list-style-type: none;
    margin: 0 4px 0 0;
    float: left;
    width: 140px;
    height: 266px;
  }
  #books .book img {
    width: 140px;
    height: 200px;
  }
  #book-info {
  }
  #books .book-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    margin-top: 4px;
  }
  .claer-both {
    clear: both;
  }
  .badge {
    font-size: 9px;
    font-weight: 300;
    color: #fff;
  }
  .badge-pill {
    border-radius: .2rem;
    padding-right: .2em;
    padding-left: .2em;
  }
  .badge-warning {
    background-color: #f0bd5e;
  }
  .badge-info {
    background-color: #6bd0ee;
  }
  .badge-default {
    background-color: #838c92;
  }
-->
</style>
{{end}}

{{define "content"}}
{{range .Days}}
<div id="books">
  <div class="date">{{printf "%d月%d日発売" .Date.Month .Date.Day}}</div>
  {{range $pkey, $tbooks := .PublisherBooks}}
    {{range $tkey, $tbook := $tbooks}}
    <div class="book">
      <a href="{{$tbook.Url}}">
        <img class="rounded" src="{{$tbook.ImageURL}}">
        <div class="book-title">{{$tbook.Name}}</div>
      </a>
      <div>
        {{range $tbook}}
          {{if eq .PublishType "Kindle版"}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-warning">Kindle</span></a>
          {{else if eq .PublishType "コミック"}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-info">{{.PublishType}}</span></a>
          {{else if eq .PublishType "単行本（ソフトカバー）"}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-default">単行本</span></a>
          {{else}}
            <a href="{{.Url}}"><span class="badge badge-pill badge-default">{{.PublishType}}</span></a>
          {{end}}
        {{end}}
       </div>
    </div>
    {{end}}
  {{end}}
  <div class="claer-both" />
</div>
{{end}}
{{end}}

{{define "script"}}{{end}}
