{{define "title"}}ログ{{end}}

{{define "style"}}
<style type="text/css">
<!--
    .logs {
      padding-top: 20px;
    }
-->
</style>
{{end}}

{{define "content"}}
<div class="container">
    <section class="logs">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>日付</th>
              <th>asin取得数</th>
              <th>asin更新数</th>
              <th>book更新数</th>
            </tr>
          </thead>
          <tbody>
            {{range .Logs}}
            <tr>
              <th scope="row">{{printf "%d-%d-%d" .Date.Year .Date.Month .Date.Day}}</th>
              <td>{{.FetchAsinCount}}</td>
              <td>{{.UpdateAsinCount}}</td>
              <td>{{.UpdatedBookCount}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
    </section>
</div><!-- /.container -->
{{end}}

{{define "script"}}{{end}}
